:root {}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFF;
}

.logo {

    width: 100px;
    height: 130px;
}

.cabecalho {
    background-color: #ffffff;
    padding: 20px;
    height: 120px;
}

.cabecalho-nav {
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.cabecalho-menu {
    list-style: none;
    display: flex;
    font-weight: bold;
    font-size: 25px;
}

.cabecalho-menu li {
    margin-left: 20px;
    text-align: center;

}

.cabecalho-menu a {
    color: #5a0283;
    text-decoration: none;
}

.cabecalho-menu li:hover{
    transform: scale(1.05);
}


.border{
    width: 200px;
    
}
.banner {
    background-image: url(../assets/Game6.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}

.banner-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* pseudo elemento */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.banner-conteudo {
    width: 600px;
    position: relative;
    z-index: 2;
}

.banner-titulo {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-descricao {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.banner-btn {
    background: #e50914;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin: 0 10px;
}

.banner-btn:hover {
    box-shadow: 5px 5px 8px black;
    transition: 0.5s;
    transform: scale(110%);
}

.sessao-filme {
    padding: 20px;
}

.sessao-titulo{
    font-size: 35px;
    font-family:monospace;
    font-weight: bolder;
    color: rgb(107, 4, 148);
}

.filmes-titulo {
    font-size: 2em;
    margin-bottom: 20px;
}

.carrossel {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

.carrossel img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.carrossel-lista {
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.carrossel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.carrossel-item:hover{
    transform: scale(1.05);
}
.btn-carrossel{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(36, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 45%;
}
.btn-carrossel:hover{
    transform: scale(1.05);
}

.btn-anterior { left: 10px;}

.btn-proximo {right: 10px;}