@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root{
    --color1: #D2C5EE;
    --color2: #5E17EB;
    --color3: #4a0072;
    --inter: Inter Tight;
    --instrument: "Instrument Sans", sans-serif;
}

#splash{
    z-index: 999;
    position: fixed;
    inset: 0;
    background: #9646ff;
    animation: splash 3.5s forwards ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes splash {
    0%, 60%{
        opacity: 1;
        z-index: 9999;
        pointer-events: auto;
        
    }
    100%{
        opacity: 0;
        z-index: -10;
        pointer-events: none;
        visibility: hidden;
        pointer-events: none;
    }
}

#logo-splash{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: flip 2s cubic-bezier(0.05, 0.9, 0.2, 1);
    width: 250px;
    height: 280px;
}

@keyframes flip {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100%;
    position: relative; 
    -webkit-overflow-scrolling: touch; 
    min-height: 100vh;
    touch-action: pan-y;

}
#container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
header {
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-family: var(--inter);
    font-style: italic;
    height: 80px;
}

#logo {
    width: 150px;
    left: 0;
    z-index: 2;
    position: relative;
}


header nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    position: relative;
    left: 0;
    width: 80vw;
}

.menu {
    color: var(--color2);
    font-size: 1.3rem;
    padding: 150px;
    text-decoration: none;
    font-family: var(--inter);
    font-weight: 300;
    position: relative;
    transition: all 0.3s ease;
}
.menu p{
    margin: 0;
}

.menu:hover {
    text-shadow: 2px 3px 2px rgba(176, 58, 255, 0.9);
}


.menu::after {
    content: '';
    position: absolute;
    left: -120px;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--color2);
}

.menu:hover::after {
    transition: width 0.5s ease;
    width: 100%;
}

.menu:hover {
    transform: scale(1.05);
    border-radius: 15%;
}

.hamburguer {
    cursor: pointer;
    position: relative;
    z-index: 9999;
    display: none;
}
.barra{
    background: var(--color2);
    display: block;
    width: 3rem;
    height: .3rem;
    margin: .5rem auto;
    border-radius: 1px;
    transition: .7s;
    cursor: pointer;
}


#pesquisar{
    border-radius: 40px;
    padding-left: 40px;
    height: 35px;
    width: 225px;
    border: none;
    position: absolute;
    font-size: 1rem;
    right: 5%;
    background-image: url(../assets/Lupaicone.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px 20px;
    text-align: start;
}
#pesquisar::placeholder{
    position: absolute;
    left: 35px;
    font-size: 1rem;
}

.banner a{
    text-decoration: none;
    color: #fff;
}

.banner {
    background-size: cover;
    height: 450px;
    margin-top: 55px;
    margin-bottom: 55px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 30px var(--color2);
    z-index: 1;
    background-repeat: no-repeat; 
    transition: background-image 0.5s ease-in-out;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.banner-conteudo{
    color: #fff;
    z-index: 3;
    text-align: center;
    font-family: var(--inter);
    text-transform: uppercase;
}
.banner-conteudo h2{
    padding-bottom: 10px;
    font-size: 3rem;
    text-shadow: 0 0 50px #680078;
}
.banner-conteudo p{
    font-size: 1.5rem;
}
.btn-ban {
    position: absolute;
    top: 50%;
    border: none;
    background: transparent;
    color: #ffffff;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.6rem;
    box-shadow: 0 0 50px var(--color3);
    transition: transform 0.3s ease;
    z-index: 2;
    display: block;
}
.btn-ban:hover{
    transform: scale(1.2);
}

.btn-anterior-ban {
    left: 2.5%;
}

.btn-proximo-ban {
    right: 2.5%;
}

#conteudo {
    display: grid;
    grid-template-columns: 1fr;
}

main {
    justify-content: center;
}
.titulo-secao{
    color: var(--color2);
    font-family: var(--instrument);
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    left: 10px;
}
#titulo-apps{
    margin-top: 50px;
}
.grade-produtos{
    display: flex;
    background: var(--color1);
    justify-content: center;
    flex-wrap: wrap;
}
    .produto{
        width: 250px;
        height: 380px;
        margin: 15px;
        margin-left: 20px;
        margin-right: 20px;
        background-image: url(../assets/gta\ v.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        position: relative;
        border-radius: 3px;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        cursor: pointer;
    }
    /* .produto::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        transition: opacity 0.3s ease, box-shadow 0.3s ease;
        background: rgba(233, 233, 233, 0.15);
        opacity: 0;
        z-index: 1;
    } */
    .produto:hover{
        box-shadow: 0 0 20px #9407ff;
        transform: scale(1.01);
    }
.conteudo-produto{
    background: rgb(210, 185, 243, 0.8);
    display: flex;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    box-shadow:0 0 15px #5E17EB;
    justify-content: center;
    z-index: 3;
    border-radius: 3px;
}
.titulo-produto{
    font-size: 1.3rem;
    font-family: var(--inter);
    color: #fff;
    position: absolute;
    top: 5%;
    text-decoration: underline;
    text-decoration-color: #7346ce;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    text-shadow: 0 0 10px#5E17EB
}
.preco-produto{
    font-family: var(--inter);
    position: relative;
    bottom: -50%;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
    background: #720ba9;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-weight: 400;
    
}
.btn-produtos{
    position: relative;
    background: var(--color2);
    color: #fff;
    border-radius: 10px;
    top: 170px;
    font-size: 1.5rem;
    height: 60px;
    width: 30px;
    border: none;
    box-shadow: 0 0 15px#5E17EB;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    display: none;
}
.btn-produtos:hover{
    box-shadow: 0 0 15px #260047;
}
.btn-anterior-produtos{
    left: 8px;
}

.btn-proximo-produtos{
    right: 8px;
}

#grades{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.grade-solo{
    background-color: #d9c9f7;
    border-radius: 8px;
    width: 640px;
    margin: 0 auto;
}

.grade-titulo{
    color: #fff;
    padding-bottom: 15px;
    font-family: var(--inter);
    background: #5E17EB;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    border-radius: 5px;
}

.produto-grade{
    height: 100px;
    width: 600px;
    border-radius: 5px;
    background: #30004a;
    transition: transform 0.3s ease;
    margin: 0 auto;
    margin: 20px;
}
.produto-grade:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.produto-grade img{
    position: absolute;
    width: 10%;
    height: 80px;
    left: -65px;
    cursor: pointer;
    border-radius: 5px;
}
.produto-grade-conteudo{
    background: #fff;
    border-radius: 6px;
    width: 82.5%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 10px;
    transition: opacity 0.3s ease;
    left: 30px;
}
/* .produto-grade-conteudo:hover{
    opacity: 1;
} */
.titulo-produto-grade{
    color: var(--color3);
    position: absolute;
    font-size: 1.3rem;
    left: 10px;
    top: 10px;
    font-family: var(--inter);
}
.preco-grade{
    color: var(--color2);
    position: absolute;
    font-size: 1.1rem;
    bottom: 10px;
    right: 410px;
    font-weight: 500;
    font-family: var(--inter);
}
.botao-compra{
    position: relative;
    left: 300px;
    top: 20px;
    width: 150px;
    border: none;
    height: 27px;
    font-weight: 700;
    border-radius: 25px;
    background: #fff;
    color: var(--color2);
    transition: transform 0.3s ease;
    box-shadow: 0 0 5px #a8a8a8;
    cursor: pointer;
}
.botao-compra:hover{
    transform: scale(1.10);
    color: #fff;
    background: var(--color2);
}

/* .produto-grade:hover{
    transform: scale(1.05);
} */

.footer {
    background-color: #d2b9f3;
    color: #4a0072;
    font-weight: 500;
    font-family: var(--inter);
    display: flex;
    flex-direction: column;
}
footer p{
    padding: 20px;
    text-align: center;
}

footer img{
    width: 45px;
    position: absolute;
    right: 70%;
}

#sobre{
    display: flex;
    font-family: var(--inter);
    padding-top: 10px;
    padding-bottom: 80px;

}
#titulo-historia{
    position: relative;
    left: 90px;
    font-size: 2.2rem;
    color: #4900a8;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 2px;
    text-decoration-color: #4900a8;
}
#sobre p{
    position: relative;
    color: var(--color2);
    font-size: 1.6rem;
    top: 150px;
    padding: 15px;
    margin-bottom: 300px;
}


/* Página de Jogos e Apps */

.titulo-parte-produto{
    color: #5E17EB;
    font-family: var(--inter);
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.grade-produtos-pesquisa{
    border-right: 5px solid #5E17EB;
}

.conteudo-pesquisa{
    display: flex;
    background: var(--color1);
    font-family: var(--inter);
    margin-bottom: 150px;
    padding-bottom: 50px;
}
.produtos-pesquisa{
    display: flex;
    background: #fff;
    width: 800px;
    margin: 25px;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px#8600fb;
    transition: transform 0.3s ease;
    height: 200px;
    cursor: pointer;
}
.produtos-pesquisa img{
    width: 350px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.titulo-produto-pesquisa{
    color: #30004a;
    margin: 20px;
}
.preco-produto-pesquisa{
    color: #5E17EB;
    height: 45px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 45px;
    position: absolute;
    bottom: 75px;
    left: 365px;
    width: 110px;
    text-align: center;
}
.produtos-pesquisa:hover{
    transform: scale(1.02);
}

.filtro-pesquisa{
    position: sticky;
    top: 20px;
}

.filtro-pesquisa h1{
    color: #5E17EB;
    font-size: 1.7rem;
    margin: 20px;
    margin-top: 25px;
}
.check input{
    position: absolute;
  opacity: 0;
  pointer-events: none;
}
.check span{
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #ffffff;
    position: relative;
    cursor: pointer;
    border: 1px solid #ce96ff;
    border-radius: 3px;
}
.check input:checked + span {
  background: #7800b9;
  border: 1px solid #c456ff;
}
.check span::after {
  content: "";
  position: absolute;
  width: 3.75px;
  height: 8.5px;
  border: solid white; /* cor do check */
  border-width: 0 2px 2px 0;
  top: 2px;
  left: 6px;
  transform: rotate(45deg);
  opacity: 0;
}
.check input:checked + span::after {
  opacity: 1;
}
.check {
    color: #4900a8;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 20px;
}
.filtro-aba-pesquisa{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}
#btn-filtro{
    display: none;
}

/* Página dos Produtos */

#banner-conteudo-produto {
    width: 100vw;
    height: 400px;
    background-image: url(../assets/gta\ logo.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    box-shadow: inset 0 -50px 100px -20px rgba(119, 0, 255, 0.8);
}
#banner-conteudo-produto::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 1;
        z-index: 2;
    }


#logo-pag{
    width: 125px;
    position: absolute;
    border-radius: 5px;
    left: 40px;
    top: 380px;
    z-index: 99;
    box-shadow: 0 0 20px rgb(255, 255, 255, 0.5);
}
#titulo-pag-produto{
    color: #fff;
    position: absolute;
    left: 200px;
    top: 430px;
    z-index: 99;
    font-family: var(--inter);
}

.conteudo-pag-produto{
    z-index: 999;
    background: #fff;
    position: absolute;
    width: 400px;
    height: 230px;
    right: -550px;
    top: 0;
    border-radius: 10px;
    box-shadow: 0 0 15px#260047;
}
#preco-pag{
    font-family: var(--inter);
    color: #5E17EB;
    position: relative;
    left: 10px;
    margin: 20px;
    font-size: 2rem;
}
.comprar-agora{
    width: 90%;
    color: #fff;
    background: #732dff;
    border-radius: 5px;
    border: none;
    height: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.add-carrinho{
    width: 90%;
    color: #fff;
    background: #230069;
    border-radius: 5px;
    border: none;
    height: 50px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.comprar-agora:hover{
    background: #6126d8;
}
.add-carrinho:hover{
    background: #19004a;
}
#descricao-avaliacao{
    font-family: var(--inter);
    position: relative;
    width: 900px;
}
#avaliacao-pag{
    margin: 35px;
    margin-top: 50px;
    margin-left: 50px;
}
#descricao-pag{
    font-size: 1.4rem;
    margin: 45px;
    margin-top: 50px;
    margin-bottom: 200px;
}

.titulo-mais-prod{
    color: #5E17EB;
    text-transform: uppercase;
    font-family: var(--inter);
    margin-top: 50px;
    text-align: center;
}

.prodm-pag-mjs{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.produto-pag-mjs{
    background: #ffffff;
  width: 300px; /* seu tamanho padrão */
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 15px #3c0075;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0; /* evita que encolha */
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 1; /* padrão normal */
  border-radius: 10px;
}
.produto-pag-mjs.center {
  transform: scale(1.2);
  opacity: 1; /* destacado */
}
.produto-pag-mjs img{
    width: 300px;
}
.produto-pag-mjs:hover{
    transform: scale(1.02);
}
.titulo-produto-mjgs{
    text-align: center;
    color: #30004a;
    font-family: var(--inter);
    font-size: 1.4rem;
    margin: 15px;
}
.compra-pag-mjs{
    background: #fff;
    color: #6c00e8;
    border: none;
    width: 60%;
    border-radius: 20px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: 0 0 10px #3c0075;
    transition: transform 0.3s ease;
}
.compra-pag-mjs:hover{
    transform: scale(1.1);
    background: #6c00e8;
    color: #fff;
    box-shadow: 0 0 10px #732dff;
}

/* Página de login/cadastro */

#sec-login{
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 75px auto;
    border-radius: 60px;
    box-shadow: 0 0 30px 2px #5E17EB;
    height: 420px;
    position: relative;
    font-family: Arial, sans-serif;
    align-items: center;
}

#login-part{
    width: 50%;
    z-index: 1;
    text-align: center;
}
.titulo-login{
    color: #6126d8;
    font-weight: 550;
}
.input-login, .input-login-pas, .input-sign, .input-sign-pas{
    /* box-shadow: 0 0 15px 3px #5E17EB; */
    border: none;
    border-bottom: 2.3px solid #5E17EB;
    width: 250px;
    height: 45px;
    outline: none;
}
.input-box{
    width: 250px;
    height: 50px;
    margin: 40px auto;
    position: relative;
}
.p-login, .p-sign{
    position: absolute;
    transition: all 0.2s ease;
    height: 50px;
    transform: translateY(-55%);
    color: #4a4a4a;
    pointer-events: none;
}


.input-login:focus + .p-login,
.input-login:not(:placeholder-shown) + .p-login,
.input-login-pas:focus + .p-login,
.input-login-pas:not(:placeholder-shown) + .p-login,
.input-sign:focus + .p-sign,
.input-sign:not(:placeholder-shown) + .p-sign,
.input-sign-pas:focus + .p-sign,
.input-sign-pas:not(:placeholder-shown) + .p-sign {
  transform: translateY(-105%);
  text-shadow: 0 0 5px rgb(94, 23, 235, 0.5);
  font-size: 12px;
  color: var(--color2);

}

.btn-spy{
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    right: 0;
}
.btn-spy img{
    width: 100%;
}

.login-button, .sign-button{
    width: 175px;
    height: 30px;
    text-transform: uppercase;
    font-family: var(--inter);
    font-weight: 500;
    color: #fff;
    background: linear-gradient(to right, #9646ff 0%, #5E17EB 100%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#sign-part{
    width: 50%;
    z-index: 1;
    text-align: center;
}
#welcome{
    position: absolute;
    background: linear-gradient(to right, #5E17EB 0%, #9646ff 100%);
    width: 50%;
    right: 0;
    height: 100%;
    border-radius: 125px 60px 60px 125px;
    color: #fff;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}
#welcome.ativa{
    right: calc(50%);
    border-radius: 60px 125px 125px 60px;
}
#titulo-welcome{
    margin: 15px;
    transform: translateY(-20%)
}
#button-2way{
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    font-family: var(--inter);
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    transform: translateY(70%);
    cursor: pointer;
}



@media (width <=1024px) {

    html, body{
        overflow-x: hidden;
    }

    #logo{
        width: 140px;
        height: 80px;
        clip-path: inset(0 60% 0 0); 
        left: 20px;
        position: absolute;
        display: block;
    }
    header{
        height: 80px;
    }
    .banner{
        width: 100%;
        height: 300px;
        box-shadow: 0 -15px 20px -10px var(--color2), 0 15px 20px -10px var(--color2) ;
    }
    .banner-conteudo h2{
        font-size: 2rem;
    }
    .btn-ban{
        display: none;
    }
    #conteudo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #pesquisar{
        width: 45vw;
        left: 25vw;
        height: 30px;
        top: 25px;
    }
    #pesquisar::placeholder{
        opacity: 0;
    }
    #img-login{
        display: none;
    }
    #login p{
    display: block;
    position: absolute;
    margin: 0 auto;

    }
    .menu-header {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(28, 0, 43, 0.95); 
    z-index: 9999;
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    }
    .menu-header.active{
        display: block;
        opacity: 1;
    }
    .menu{
        font-size: 1.5rem;
        color: #ffffff;
        font-style: normal;
        padding: 20px;
        left: 5vw;
        top: 5vh;
        display: block;
    }
    .menu::after{
        left: 20px;
    }
    
    .menu p{
        margin: 0;
    }
        .hamburguer {
        display: block;
        right: 20px;
        position: absolute;
    }
    .barra{
        display: block;
    }
    .hamburguer.active .barra:first-child{
    transform: translateY(12px) rotate(360deg) rotate(45deg);
    background: #fff;
    }
    .hamburguer.active .barra:nth-child(2){
    opacity: 0;
    background: #fff;
    }
    .hamburguer.active .barra:last-child{
    transform: translateY(-12px) rotate(-360deg) rotate(-45deg);
    background: #fff;
    }
    .grade-produtos {
        position: relative;
        height: 280px;
    }
    .titulo-secao{
        text-align: center;
        text-transform: uppercase;
        font-weight: 1000;
    }

    .produto {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 40%;
        height: 90%; 
        display: none;
        border-radius: 10px;
        margin: 15px auto;
    }
    .conteudo-produto{
        height: 40%;
        border-radius: 10px;
    }
    .produto:hover{
        transform: translateX(-50%) scale(1);
        box-shadow:none ;
    }
    .grade-produtos .produto.ativo {
        display: block;
    }
    .titulo-produto{
        font-size: 1.15rem;
        text-align: center;
    }

    .btn-produtos {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        display: block;
    }
    .btn-anterior-produtos{
        left: 10%;
    }
    .btn-proximo-produtos{
        right: 10%;
    }
    #grades{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 30px auto;
    }
    .grade-solo{
        width: 100%;
        margin-bottom: 50px;
    }
    .produto-grade{
        width: 90%;
    }
    .produto-grade img{
        width: 15%;
        position: absolute;
        left: -17.5%;
    }
    .preco-grade{
        left: 2.5%;
    }
    .botao-compra{
        position: absolute;
        left: 60%;
        top: 40px;
        width: 100px;
    }
    #sobre{
        display: block;
        width: 100vw;
    }
    #sobre p{
        margin: 0 auto;
        font-size: 1.3rem;
        display: flex;
        width: 400px;
        flex-wrap: wrap;
        top: 45px;
        padding-bottom: 100px ;
        text-align: justify;
    }
    #titulo-historia{
        text-align: center;
        left: 0;
        right: 0;
    }
    .footer{
        height: 130px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    footer p{
        width: 100%;
        height: 150px;
        text-align: center;
        line-height: 75px;
    }
    footer img{
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: 30px;
    }

    /* Página de Jogos */

    .titulo-parte-produto{
        text-align: center;
        margin-bottom: 80px;
    }

    .grade-filtro-pesquisa {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 9999;
    overflow-y: auto; 
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.grade-filtro-pesquisa.show {
    display: block;
    opacity: 1;
}
.filtro-pesquisa {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 50px auto; 
}

#btn-filtro{
    display: block;
    position: absolute;
    right: 0;
    background: #4900a8;
    color: #fff;
    width: 100px;
    height: 50px;
    bottom: 75%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: var(--inter);
    font-weight: 600;
    cursor: pointer;
}

.grade-produtos-pesquisa{
    width: 100%;
}
.produtos-pesquisa{
    width: 80%;
    height: 150px;
}
.produtos-pesquisa img{
    width: 50%;
}
.titulo-produto-pesquisa{
    font-size: 1.4rem;
}
.preco-produto-pesquisa{
    font-size: 1.1rem;
    left: 50%;
    bottom: 10%;
}

/* Página de Produtos */

#banner-conteudo-produto{
    height: 300px;
}
#logo-pag{
    top: 270px;
    width: 90px;
}
#titulo-pag-produto{
    top: 315px;
    left: 142.5px;
    font-size: 1.4rem;
}

#descricao-avaliacao{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
#avaliacao-pag{
    position: relative;
    top: 0;
    margin: 30px;
}
    #descricao-pag{
        width: 80vw;
        text-align: start;
        margin-bottom: 150px;
        font-size: 1.2rem;
    }
    .conteudo-pag-produto{
        position: relative;
        left: 0;
        margin: 0 auto;
    }
    .titulo-mais-prod{
        margin-top: 0;
    }
    .prodm-pag-mjs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .produto-pag-mjs{
        height: 320px;
    }
    .produto-pag-mjs img{
        height: 150px;
        width: 80%;
        margin: 15px;
    }
    /* Pagina de login e cadastro */
    #sec-login{
        width: 80vw;
        padding: 10px;
        padding-top: 30px;
    }
    #login-part{
        opacity: 1;
        transition: all 0.3s ease;
        z-index: 98;
        position: absolute;
    }
    #login-part.active{
        opacity: 0;
        z-index: 0;
    }
    #sign-part{
        z-index: 0;
        opacity: 0;
    }
    #sign-part.active{
        opacity: 1;
        z-index: 98;
    }
    #welcome{
        width: 100%;
        height: 65px;
        top: 0;
        text-align: center;
        border-radius: 60px 60px 0 0;
        box-shadow: 0 0 5px #5E17EB;
        display: flex;
    }
    #welcome h1{
        display: none;
    }
    #welcome p{
        font-size: 0.7rem;
        width: 60%;
    }
    #button-2way{
        width: 40%;
        font-size: 0.75rem;
        height: 17.5px;
        bottom: 7.5%;
    }
}
